.btn {
    margin: 50px;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.btn:hover {
    background-color: rgb(83, 157, 203);
}

.paragraph {
    display: block;
    border: 2px solid blue;
    margin: 0 50px;
    font-size: medium;
    width: 330px;
    text-align: center;
    border-radius: 25px;

}

.timer {
    font-size: 20px;
    margin: 50px;
}


span{
    color: white;
}